.TriggerComp

  .importance
    font-size: 80%

  .edit
    position: absolute
    right: 0
    bottom: 0
    margin: 8px 15px

.StaticConditionItemComp-name
  font-weight: bold

.StaticConditionItemComp-previewText
  font-style: italic