.TriggerComp

  .importance
    font-size: 80%
    position: absolute
    right: 0
    color: #c0c0c0
    font-weight: 400
    transition: all 200ms
    padding: 0 8px
    display: inline-block

    &:hover
      color: #666

  .conditions, .actionsets
    & > div
      border: 1px solid #ddd
      border-radius: 5px
      padding: 10px 25px
      margin: 7px 0
      background-color: #f1f1f1
      color: #444
      font-size: 80%
      font-weight: 100

.StaticConditionItemComp
  .name
    font-weight: 100

  .previewText
    font-style: italic
    font-size: 77%

  form
    margin-top: 14px

.ConditionItemComp
  .name
    font-weight: 100

.TriggerFormComp
  .name-input-form-group
    display: flex

    *
      align-self: center

    input
      width: 100%

  .conditions-lists
    display: flex
    margin-top: 28px

    & > div
      width: 100%

      &:not(:first-child)
        margin-left: 20px