/* NOTIFICATIONS */
#notifications {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    transition: all 1s;
    z-index: 1001;
}

.notification {
    background-color: #e7daff;
    padding: 15px 21px;
    border-radius: 10px;
    border: 1px solid #cbbfe1;
    margin-bottom: 13px;
    transition: all 500ms;
    max-width: 400px;
    color: #8b7fa2;
    box-shadow: 2px 3px 4px -2px #00000029;
}

.notification-error {
    background-color: #ffdae3;
    color: #a27f87;
}

.notification-error .notification-title, .notification-error .notification-close {
    color: #daa2b7;
}

.notification-success {
    background-color: #e2ffda;
    color: #88a27f;
}

.notification-success .notification-title, .notification-success .notification-close {
    color: #a2daa8;
}

.notification-title {
    font-weight: bold;
    font-size: 11pt;
    color: #b6a2da;
    padding: 0 0px 4px 0;
}

.notification-message {
    color: inherit;
}

.notification-close {
    color: #b6a2da;
    text-decoration: none;
    font-size: 9pt;
    float: right;
    z-index: 1;
}

.notification-close:hover {
    text-decoration: underline;
}