* {
    position: relative;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    box-sizing: border-box;
    font-size: 14pt;
    color: #333;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body.theme-light {
    background-color: #dedede;
    color: #444;
}

body.theme-dark {
    background-color: #222223;
    color: #858588;
}

#wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
}

.theme-light a {
    color: #de0388;
}

.theme-dark a {
    color: #ff059d;
}

a.a-symbol {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

.theme-dark input, .theme-dark textarea, .theme-dark button {
    background-color: #b38fa5;
    border-radius: 2px;
}

hr {
    border-top: 0;
}

.template {
    display: none;
}